<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MONGOOOOOSE</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <form action="/users" method="post">
        Name: <input type="text" name="name">
        <br>
        Age: <input type="text" name="age">
        <br>
        <input type="submit" value="Submit">
    </form>
    <table>
        <tr><th>Name</th><th>Age</th></tr>
        <% for (var i=0; i < info.length; i++) { %>
            <tr><td><%= info[i].name %></td><td><%= info[i].age %></td></tr>
        <% } %>
    </table>

</body>
</html>