<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quoting Dojo</title>
</head>
<body>
    <h3>Welcome to Quoting Dojo</h3>
    <form action="/quotes" method="post">
        Your Name: <input type="text" name="name">
        <br>
        Your Quote: <input type="text" name="quote">
        <br>
        <input type="submit" value="Add my quote!">
    </form>
    <form action="/quotes" method="get">
        <input type="submit" value="Skip to quotes!">
    </form>
    
</body>
</html>