<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quoting Dojo</title>
</head>
<body>
    <h3>Welcome to Quoting Dojo</h3>
    <form action="/quotes" method="post">
        Your Name: <input type="text" name="name">
        <br>
        Your Quote: <input type="text" name="quote">
        <br>
        <a href="/quotes">Add my Quote!</a>
    </form>
    <a href="/quotes">Skip to Quotes!</a>
</body>
</html>