<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lions</title>
</head>
<body>
    <% for (var i = 0; i < lions.length; i++) { %>
        <%=  %>
    <% } %>
</body>
</html>